<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil [appareilName]="appareilOne" [appareilStatus]="' eteint '"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="' en fonction '"></app-appareil>
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="' demarage '"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()"> tout allumer</button>
    </div>
  </div>
</div>

